body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.app {
  margin: 0 auto;
  max-width: 1200px;
  background-color: aquamarine;
  text-align: center;
}

.house-card {
  margin: 1rem;
  text-align: center;
  display: inline-table;
}

.house-card img {
  height: 180px;
  width: auto;
}

.house-cards {
  list-style: none;
}

.house-card button {
  margin-top: 0.5rem;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.new-house-info {
  padding: 2rem 1rem;
  margin: 2rem 0;
}

.new-house-info form {
  display: grid;
  justify-content: center;
}

.new-house-info input {
  margin: 0.5rem 0;
  font-size: medium;
  text-align: left;
}

.new-house-info button {
  width: 150px;
  font-size: large;
}
