.app {
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
}

.house-card {
  margin: 1rem;
  text-align: center;
  display: inline-block;
  font-size: small;
}

.house-card img {
  height: 180px;
  width: auto;
}

.house-cards {
  list-style: none;
  text-align: center;
}

.house-card button {
  margin-top: 0.5rem;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.new-house-info {
  padding: 2rem 1rem;
  margin: 2rem 0;
}

.new-house-info form {
  display: grid;
  justify-content: center;
}

.new-house-info input {
  margin: 0.5rem 0.5rem;
  font-size: medium;
  text-align: left;
}

.new-house-info button {
  width: 150px;
  font-size: large;
}

.header {
  font-style: oblique;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2.5rem;
  color: rgb(34, 38, 78);
}

h4 {
  color: rgba(52, 40, 105, 0.849);
}

body {
  background-color: aquamarine;
}

.new-house-info label {
  margin: 0.5 rem;
  text-align: justify;
}
